@charset "UTF-8";
:root {
  --min-width: 350px;
  --content-gutter-width: 5%;
  --divider-color: #e9e9e9;
  --background-color: #fdfdfd;
  --mobile-max-width: 520px;
  --domain-default-color1: #333;
  --domain-default-color2: #666;
  --domain-default-color3: #ddd;
  --domain-mind-color1: #3a80fb;
  --domain-mind-color2: #163160;
  --domain-mind-color3: #e1eeff;
  --domain-body-color1: #d75623;
  --domain-body-color2: #4a1e0d;
  --domain-body-color3: #fce9e3;
  /*#ffece6*/
  --domain-soul-color1: #2bb927;
  --domain-soul-color3: #e2fce0; }

#header {
  --text-color: #333; }

html,
body {
  height: 100%; }

* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  --domain-color1: var(--domain-default-color1);
  --domain-color2: var(--domain-default-color2);
  --domain-color3: var(--domain-default-color3); }

body.domain-mind {
  --domain-color1: var(--domain-mind-color1);
  --domain-color2: var(--domain-mind-color2);
  --domain-color3: var(--domain-mind-color3); }

body.domain-body {
  --domain-color1: var(--domain-body-color1);
  --domain-color2: var(--domain-body-color2);
  --domain-color3: var(--domain-body-color3); }

body.domain-soul {
  --domain-color1: var(--domain-soul-color1);
  --domain-color2: var(--domain-soul-color2);
  --domain-color3: var(--domain-soul-color3); }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: var(--min-width);
  background-color: var(--background-color); }

.page-header-wrapper,
.page-content-wrapper {
  margin: 0 var(--content-gutter-width); }

.page-content-wrapper {
  flex: 1 0 auto; }

.page-header-wrapper,
.page-footer {
  flex-shrink: 0; }

main {
  max-width: 700px;
  height: 100%;
  margin: auto;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; }
  main a {
    color: var(--domain-color1); }
  main a:hover {
    background-color: var(--domain-color3); }

.shadow-divider-bottom::after {
  display: block;
  height: 30px;
  margin-bottom: 5px;
  content: '';
  border-bottom: 1px solid var(--divider-color);
  box-shadow: 0 5px 5px -5px var(--divider-color);
  margin-top: -30px; }

@media screen and (min-width: 520px) {
  main {
    padding: 15px; } }
/*
 * header
 */
#header {
  font-family: arial;
  font-size: 12pt;
  color: var(--text-color);
  background-color: var(--background-color); }
  #header a {
    color: var(--text-color);
    text-decoration: none; }
  #header a:hover {
    text-decoration: underline; }
  #header .content {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #header .content .site-title {
      display: inline-flex;
      align-items: center;
      padding: 10px;
      filter: grayscale(100%);
      transition: all .5s ease-out; }
      #header .content .site-title .image {
        display: none;
        width: 50px;
        height: 50px;
        background-image: url("author.jpg");
        background-position: 50% 50%;
        background-size: cover; }
      #header .content .site-title .name {
        font-size: 15pt; }
    #header .content .site-title:hover {
      background-color: var(--domain-color1);
      color: white;
      text-shadow: 1px 1px 1px black;
      filter: none;
      transition: all .5s ease-in; }
      #header .content .site-title:hover .image {
        box-shadow: 1px 1px 1px black; }
    #header .content .primary-links .link {
      padding: 4px;
      border-radius: 3px; }

body.domain-mind #header .content .primary-links .link.mind,
#header .content .primary-links .link.mind:hover {
  color: var(--domain-mind-color1); }

body.domain-body #header .content .primary-links .link.body,
#header .content .primary-links .link.body:hover {
  color: var(--domain-body-color1); }

body.domain-soul #header .content .primary-links .link.soul,
#header .content .primary-links .link.soul:hover {
  color: var(--domain-soul-color1); }

@media screen and (min-width: 520px) {
  #header .content .site-title {
    padding: 5px; }
    #header .content .site-title .image {
      display: inline-block; }
    #header .content .site-title .name {
      margin: 0 20px; }
  #header .content .primary-links .link {
    padding: 15px; } }
.page-footer {
  border-bottom: 4px solid var(--domain-color1); }

main > .home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90%;
  margin: 40px 0; }
  main > .home .article-stubs-container > .title {
    display: inline-block;
    padding: 10px;
    color: #555;
    background-color: #ddd;
    font-style: italic; }
  main > .home .article-stubs-container .footer {
    padding: 15px;
    display: block;
    text-align: center; }
    main > .home .article-stubs-container .footer a {
      color: #555;
      text-decoration: none; }
    main > .home .article-stubs-container .footer a:hover {
      text-decoration: underline;
      background: none; }

@keyframes scalein {
  from {
    transform: scale(1.04);
    background-color: var(--domain-color3); }
  to {
    transform: scale(1);
    background-color: none; } }
article .article-header *::selection,
article .content *::selection {
  background-color: var(--domain-color3); }

article .article-header *::-moz-selection,
article .content *::-moz-selection {
  background-color: var(--domain-color3); }

article .article-header {
  margin: 30px 0;
  padding: 10px 25px;
  color: var(--domain-color1);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--domain-color1);
  box-shadow: 1px 1px 5px lightgrey;
  animation: .5s scalein; }
  article .article-header .title {
    margin-bottom: .25em;
    font-size: 25pt;
    font-weight: bold; }
  article .article-header .subtitle {
    font-size: 15pt; }
  article .article-header .info-container {
    margin: 20px; }
    article .article-header .info-container .info {
      display: inline-block;
      margin: 5px; }
    article .article-header .info-container .info::before {
      padding: 0 4px;
      border-radius: 2px;
      color: white;
      background-color: var(--domain-color1);
      margin-right: 10px; }
    article .article-header .info-container .info.reading-time::before {
      content: "Time:"; }
    article .article-header .info-container .info.updated::before {
      content: "Updated:"; }
    article .article-header .info-container .info.created::before {
      content: "Posted:"; }
    article .article-header .info-container .info.tags::before {
      content: "Tags:"; }

article .content {
  margin: 20px 10px 40px 10px;
  font-size: 14pt;
  font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
  line-height: 1.6em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  color: var(--domain-color2); }
  article .content img, article .content .flickr-embed-frame {
    box-sizing: border-box;
    width: 100%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    border: 5px solid var(--background-color); }
  article .content h1::before,
  article .content h2::before,
  article .content h3::before,
  article .content h4::before,
  article .content h5::before {
    color: var(--domain-color3);
    opacity: .75; }
  article .content h1,
  article .content h2,
  article .content h3,
  article .content h4,
  article .content h5,
  article .content h5 {
    display: table;
    margin-bottom: 0.5em;
    margin-top: .5em;
    padding: 5px;
    background: var(--domain-color1);
    color: white;
    line-height: 1em;
    border-bottom: 1px solid var(--domain-color2);
    border-right: 1px solid var(--domain-color2);
    transition: opacity ease-out .5s; }
  article .content h1 {
    font-size: 110%; }
  article .content h1::before {
    content: "❯ "; }
  article .content h2 {
    font-size: 105%; }
  article .content h2::before {
    content: "❯❯ "; }
  article .content h3 {
    font-size: 100%; }
  article .content h3::before {
    content: "❯❯❯ "; }
  article .content h4 {
    font-size: 95%; }
  article .content h4::before {
    content: "❯❯❯❯ "; }
  article .content h5 {
    font-size: 90%; }
  article .content h5::before {
    content: "❯❯❯❯❯ "; }
  article .content p {
    margin: .75em 0; }
  article .content ul li {
    margin-left: 1.75em; }
  article .content em {
    font-style: italic; }

article .article-footer section {
  margin-top: 30px; }
article .article-footer .tags {
  margin: 10px 0; }
  article .article-footer .tags .tag {
    display: inline-block;
    margin: 3px;
    padding: 10px;
    border-radius: 3px;
    color: var(--domain-color1);
    background: var(--domain-color3);
    border-bottom: 1px solid var(--domain-color1);
    border-right: 1px solid var(--domain-color1);
    text-decoration: none; }
  article .article-footer .tags .tag:hover {
    text-decoration: underline;
    background-color: var(--domain-color1);
    border-bottom-color: var(--domain-color2);
    border-right-color: var(--domain-color2);
    color: white; }
article .article-footer .action-bar {
  display: flex;
  justify-content: space-between;
  margin: 10px 2px;
  padding: 10px;
  border: 1px solid var(--domain-color1);
  background-color: white;
  box-shadow: 1px 1px 5px lightgrey; }
  article .article-footer .action-bar a {
    text-decoration: none;
    color: var(--domain-color1); }
  article .article-footer .action-bar a:hover {
    text-decoration: underline;
    background-color: transparent; }

@media screen and (min-width: 520px) {
  article .article-header {
    padding: 15px 35px; }
    article .article-header .title {
      font-size: 38pt; }
    article .article-header .subtitle {
      font-size: 18pt; }

  article .content {
    font-size: 15pt;
    margin-left: 25px;
    margin-right: 25px; } }
.article-stub {
  display: block;
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #666;
  text-decoration: none;
  background-color: white;
  color: #666;
  transition: border linear .1s, transform linear .1s, box-shadow linear .1s, background-color linear .15s; }
  .article-stub .title {
    font-size: 18pt; }
  .article-stub .subtitle {
    margin-top: 3px;
    font-size: 13pt;
    font-style: italic; }
  .article-stub .published {
    margin-top: 16px;
    font-size: 11pt;
    color: #555; }

.article-stub:hover {
  transform: scale(1.04);
  box-shadow: 0 0 5px lightgrey;
  transition: transform linear .1s, box-shadow linear .1s, background-color linear .5s, background-color linear .5s; }

.article-stub:visited {
  border-color: #999; }

.article-stub.domain-mind:hover {
  border-color: var(--domain-mind-color1);
  color: var(--domain-mind-color1);
  background-color: var(--domain-mind-color3); }

.article-stub.domain-body:hover {
  border-color: var(--domain-body-color1);
  color: var(--domain-body-color1);
  background-color: var(--domain-body-color3); }

.article-stub.domain-soul:hover {
  border-color: var(--domain-soul-color1);
  color: var(--domain-soul-color1);
  background-color: var(--domain-soul-color3); }

article .info-container .content img,
article .info-container .content .flickr-embed-frame {
  box-sizing: border-box;
  width: 100%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  border: 5px solid var(--background-color); }

.posts-filter {
  /* hide filter state */
  /* toggle filter visibility */
  /* filters */
  /* results */ }
  .posts-filter input {
    display: none; }
  .posts-filter label[for="filters-show"] {
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer */
    -khtml-user-select: none;
    /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none;
    /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none;
    /* Disable Android and iOS callouts*/
    display: block;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer; }
  .posts-filter label[for="filters-show"]::before {
    content: "+"; }
  .posts-filter #filters-show:checked ~ .filters-container label[for=filters-show]::before {
    content: "-"; }
  .posts-filter #filters-show:checked ~ .filters-container .filters {
    height: auto;
    opacity: 1;
    transition: opacity .5s; }
  .posts-filter .filters {
    display: grid;
    grid-template: "domain" "categories" "tags" "footer";
    margin-bottom: 25px;
    height: 0;
    overflow: hidden;
    opacity: 0; }
    .posts-filter .filters .filter {
      margin: 10px;
      margin-bottom: 10px; }
      .posts-filter .filters .filter .title {
        color: #ccc;
        margin-bottom: 15px;
        padding: 5px;
        border-bottom: 1px solid #eee; }
      .posts-filter .filters .filter .attributes label {
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer */
        -khtml-user-select: none;
        /* KHTML browsers (e.g. Konqueror) */
        -webkit-user-select: none;
        /* Chrome, Safari, and Opera */
        -webkit-touch-callout: none;
        /* Disable Android and iOS callouts*/
        display: inline-block;
        padding: 10px;
        margin: 3px;
        border-radius: 3px;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        background: #e9e9e9 url("/assets/zebra-pattern.jpg") fixed;
        color: #333;
        cursor: pointer; }
      .posts-filter .filters .filter .attributes label:hover {
        background: #f5f5f5;
        border-right-color: #aaa;
        border-bottom-color: #aaa;
        color: #666; }
    .posts-filter .filters .filter.domains {
      grid-area: domain; }
    .posts-filter .filters .filter.categories {
      grid-area: categories; }
    .posts-filter .filters .filter.tags {
      grid-area: tags; }
    .posts-filter .filters .filters-footer {
      grid-area: footer;
      margin-top: 20px; }
  .posts-filter .results .message {
    display: none;
    padding: 25px;
    margin: 10px 0px;
    border: 1px solid grey;
    background: url("/assets/zebra-pattern.jpg"); }
  .posts-filter .results .result {
    display: none; }
  .posts-filter .results .results-footer {
    display: block;
    margin: 25px 0;
    padding: 15px;
    text-decoration: none;
    background-color: #838383;
    color: #555;
    text-align: center;
    background: #e9e9e9 url("/assets/zebra-pattern.jpg") fixed;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc; }

@media screen and (min-width: 520px) {
  .posts-filter label[for=filters-show] {
    display: none; }
  .posts-filter .filters {
    height: auto;
    grid-template: "domain domain" "categories tags" "footer footer";
    opacity: 1; } }
code {
  font-family: monospace; }

code.highlighter-rouge {
  padding: 1px 3px;
  border: 1px solid #ccc;
  border-bottom: 1px solid #aaa;
  background-color: white;
  box-shadow: 1px 1px 1px lightgrey;
  color: #aaa;
  font-style: italic; }

.highlight {
  background: #ffffff; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #d14; }

/* Literal.String */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14; }

/* Literal.String.Double */
.highlight .se {
  color: #d14; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
.post > .highlight .lineno {
  color: #ccc;
  display: inline-block;
  padding: 0 5px;
  border-right: 1px solid #ccc; }

.post > .highlight pre code {
  display: block;
  white-space: pre;
  overflow-x: auto;
  word-wrap: normal; }

.gist .gist-file {
  box-shadow: 0px 0px 4px lightgrey; }
  .gist .gist-file a:hover {
    background-color: transparent; }
  .gist .gist-file .gist-meta {
    background-image: url("/assets/zebra-pattern.jpg");
    background-attachment: fixed; }
